<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>The orginal dataset is not complete. </p>
	<p>According to to Wrangler, 20 power plant names are missing. For the missing information, N/A was filled.
	For fuel types, there are 3 missing values for fule1, 26959 missing values for fule2 and 28368 missing values for fule3, for which N/A was filled.
	For the estimated electricity generation value, 1128 values were missing. Since this value influence the visualization of electricity generation distribution,
	estimated values were filled for those entries. The ratio between estimated electricity generation over capacity (gwh/mw) was calculated. The average for this ratio
	is 3.97 and the standard deviation is 11. So for the missing estimated electricity generation, I filled 3.97 * capacity for each entry.</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>The data is coherent.</p>
	<p>Based on the map visualization of power plants, heat map for capacity and heat map for elestimated electricity generation, the distributions of these three
	values are coherent to each other. The visulization and heat maps also match with my expection as the power plant distribution and electricity generation distribution
	match with population distribution, which make sense as power plants are more likely located at areas where population is concentrated.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>To verify the correctness of the dataset, I compared the visualization and heatmaps generated with this dataset with other heatmaps provided by
	<a href= "https://resourcewatch.org/data/explore?layers=%255B%257B%2522dataset%2522%253A%2522a86d906d-9862-4783-9e30-cdb68cd808b8%2522%252C%2522opacity%2522%253A1%252C%2522visible%2522%253Atrue%252C%2522layer%2522%253A%25222a694289-fec9-4bfe-a6d2-56c3864ec349%2522%257D%255D"> Resource Watch Organization</a>
	The overall distribution is coherent to the heatmap provided by ResourceWatch.org .</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
